# Created by .ignore support plugin (hsz.mobi)

# ignore idea files
.idea/*

# ignore mac .DS_Store
.DS_Store

# ignore all the logs
.log

# ignore node_modules
node_modules

# ignore bower_components
bower_components

# ingore copied src files
example/src